.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #ccc;
}
.cartContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 50px;
}
.cartNo {
    color: #fff;
    background-color: tomato;
    padding: 7px;
    margin-left: 5px;
}
